
/*body{

columns: #333333;
font-family: arial;
max-width: 650px;
margin:0 auto;
padding:0 16px ;



display:flex;
flex-direction: column;
min-height:100vh ;



}

.main-content
{
flex-grow: 1;

}


footer{
padding:16px ;
margin:16px;


}


header{

    
    padding:16px ;
    margin:16px;
    

}


.portrait{

width: 500px;


}*/


h1 
{
text-decoration-color: brown;
font-size: 64px;
margin-bottom: 16px;
width: fit-content;


}


header a{
    color: black;
    margin-right: 16px;
    text-decoration:none ;
    
    
    }
    

button{
cursor:pointer;
border:1px solid #888888;
background:orange;
color:white;
padding: 8px;




}
